*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.heading{
    color: black;
    letter-spacing: 0px;
    font-style: Space Grotesk;
    font-size: 20px;
    position: relative;right: 200px;
} 
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
}   
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    position: relative;left: 200px;
}
.home_heading{
    position: relative;right: 800px;
}
.button{

    background-color:#2549D3;
    position: absolute;
    top: 50;
    color: #fff;
    border:none; 
    border-radius:30px; 
    padding: 20px;
    min-height:1px; 
    min-width: 120px;
}