*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.heading{
    color: black;
    letter-spacing: 0px;
    font-style: Space Grotesk;
    font-size: 20px;
    position: relative;right: 200px;
} 
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e7;
    min-height: 70px;
}   
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    position: relative;left: 200px;
}
.home_heading{
    position: relative;right: 800px;
}
.button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #FAFAFA;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #2549D3;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.button-1{
    position: relative;
}
ul{
    list-style-type: none;
    display: inline-block;
    
}
.description-1{
    box-sizing: border-box;
  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    background-color: #FAFAFA;
}
h3{
    align-content: center;
    font-style: Space Grotesk;
    color: #0F298B;
    
}
h1{
    font-style: Space Grotesk;
    color: #0F298B;
    display: block;
    padding: 10px;
}
.image-1{
    padding: 0;
    
}