* {
    margin: 1px;
    padding: 8px;
    box-sizing: border-box;

}

.heading {
    color: black;
    letter-spacing: 0px;
    font-family: sans-serif;
    font-style: Space Grotesk;
    font-size: 20px;
    position: relative;
    right: 200px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e7e7;
    min-height: 70px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    position: relative;
    left: 200px;
}


.button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #2549D3;
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button-1 {
    position: relative;
}

.it-works {
    text-align: center;
}

ol {
    list-style: none;

}

ul {
    list-style-type: none;
    display: flex;


}

.description-1 {
    box-sizing: border-box;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-color: #FAFAFA;

}

h3 {
    align-content: center;
    font-style: Space Grotesk;
    color: #0F298B;

}

h1 {
    font-style: Space Grotesk;
    color: #0F298B;
    display: block;
    font-weight: 700;
    font-size: 70px;

}

.image-1 {
    padding: 0;
    border: 0;

}

.featured {
    display: flex;
}

.mid {
    padding: 50px;
}

.bottom {
    background-color: #0F298B;
    color: #e7e7e7;
    display: flex;

}

.bottom-1 {
    display: flex;
    position: relative;
    margin-left: 200px;
    padding: 20px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}

.alex {
    padding: 5px;
    background-color: white;
    position: relative;
    margin-left: 200px;

}

.alex-3 {
    padding: 5px;
    background-color: white;
    position: relative;
    margin-left: 25px;


}

.alex-4 {
    padding: 20px;
    background-color: white;
    margin-left: 20px;
}

.featured-properties {
    text-align: center;
    padding: 50px;
}

.png {
    padding: 50px;
}

.esteemed-customers {
    text-align: center;
    padding: 50px;
}

.find-home {
    padding: 20px;
    background-color: white;
}

.makepayments {
    height: 200;
    background-color: white;
}

.make-official {
    padding: 5px;
    background-color: white;

}

.home_heading {
    position: relative;
    margin-right: 100px;
}

.the-palace {
    padding: 15px;
    background-color: white;
    font-size: x-small;
}

.rory {
    padding: 15px;
    background-color: white;
    font-size: x-small;
}

.rexona {
    padding: 15px;
    background-color: white;
    font-size: x-small;
}
main{
    justify-content: space-around;
}